extends layout
block content
  form.form-forizontal(method = "post")
    br
    fieldset
      legend Change Password
      div.control-group
        label.control-label(for='inputEmail') Email address
        div.controls
          input#inputEmail.input-xlarge(type='email', name = "usermail", placeholder='Email address', required='', autofocus='')
      br
      div.control-group
        label.control-label(for='inputOldPassword') Old Password
        div.controls
          input#inputPassword.input-xlarge(type='password', name = "oldPassword", placeholder='Old Password', required='')
      br
      div.control-group
        label.control-label(for='inputNewPassword') New Password
        div.controls
          input#inputPassword.input-xlarge(type='password', name = "newPassword", placeholder='New Password', required='')
      br
      div.form-actions
        button.btn.btn-primary#chgpwdbtn Submit change
  form
    button.btn-primary.btn-primary(onclick = 'history.go(-1);return true;')#back Back