extends layout

block content
	br
	h1 Contacts
	br
	h2 Yuzong Gao
	p Email: gaoy1@rose-hulman.edu
	br
	br
	h2 Seongjin Yoon
	p Email: yoons1@rose-hulman.edu
	br
	br
	h3 Mitch Murray
	p Email: murrayml@rose-hulman.edu