extends layout

block content
	table(border=1)
		- for (var i = 0; i < results.length; ++i) {
		tbody
			each val in results[i]
				td=val
			tr
		- }
	a(href = "/mainpage")
		button.btn.btn-primary#back Back





