extends layout

block content
		div.hero-unit
			h1#indexHeader Korean Guide --Team TBD
			a(href='/login').btn.btn-large.btn-primary#indexLogin Click to Login
			br
			a(href='/reg').btn.btn-large.btn-primary#indexLogin Sign Up




