extends layout
block content
  form.form-forizontal(method = "post")
    br
    fieldset
      legend User Login
      div.control-group
        label.control-label(for='inputEmail') Email address
        div.controls
          input#inputEmail.input-xlarge(type='email', name = "usermail", placeholder='Email address', required='', autofocus='')
      div.control-group
        label.control-label(for='inputPassword') Password
        div.controls
          input#inputPassword.input-xlarge(type='password', name = "password", placeholder='Password', required='')
      div.form-actions
        button.btn.btn-primary#loginbtn Sign in
  form
    button.btn-primary.btn-primary(onclick = 'history.go(-1);return true;')#back Back