extends layout
block content
  contact
    form(method = "post",style='display: inline')
      fieldset
        .containter
          .row
            .col-sm-6.col-md-4.col-md-offset-4
              h1.text-center.login-title Sign in to continue
              .account-wall(style='margin:0; padding:0; display:inline')
                img.profile-img(src='/bootstrap/pics/korea.jpg', alt='')
                form.form-signin(style='margin:0; padding:0; display:inline')
                  input.form-control(type='text', name='usermail', placeholder='Email address', required='', autofocus='')
                  input.form-control(type='password', name='password', placeholder='Password', required='')
                  div.for-actions
                    button.btn.btn-lg.btn-primary.btn-block(type='submit')
                      | Sign in 
              a.text-center.new-account(href='/reg') Create an account