extends layout

block content
	br
	h1 Hello #{Name}
	br
	h1 Korean Guide
	form.form-forizontal(method = "post",action="/mainpage/searchRest")
		div.control-group
			label.control-label(for = "search") Hungury? Search a Restaurant!
			div.controls
				input.input-xlarge#search(type = "text", name = "search")
			div.form-actions
				button.btn.btn-primary#searchbtn Search Now
	br
	br
	br
	div.row(background-color:"#E4B564")
		div.span4
			div.well.searchWay
				h3 Hotels
				form.form-forizontal(method = "post",action = "/getHotel")
					a(href='/mainpage/getHotel').btn.btn-primary#checkHotel check
		div.span4
			div.well.searchWay1
				h3 Restaurants
				a(href='/mainpage/getRestaurant').btn.btn-primary#search  check
		div.span4
			div.well.searchWay2
				h3 Entertainments
				a(href='/mainpage/getEntertain').btn.btn-primary#search  check