extends layout

block content
	h1 Hello #{Name}
	div.hero-unit
		h1 Korean Guide
		P Get information here
	div.row
		div.span4
			div.well.searchWay
				h3 Hotels
				p Search a certain file by major and class and professor.
				form.form-forizontal(method = "post",action = "/getHotel")
					a(href='/mainpage/getHotel').btn.btn-primary#checkHotel check
		div.span4
			div.well.searchWay
				h3 Restaurants
				p View personal searching history. Easy to retrieve files from other computers.
				a(href='/profile').btn.btn-primary#search  check
		div.span4
			div.well.searchWay
				h3 Entertainments
				P You can send a file request, we will try to find the file you need
				a(href='/fileRequest').btn.btn-primary#search  check