extends layout

block content
	br
	h1 Hello #{Name}
	br
	h1 Korean Guide
	form.form-forizontal(method = "post",action="/mainpage/searchRest")
		div.control-group
			label.control-label(for = "search") Starving? Search for food names here!
			div.controls
				input.input-xlarge#search(type = "text", name = "search")
			div.form-actions
				button.btn.btn-primary#searchbtn Search Now
	br
	br
	br
	hr.featurette-divider
	.row.featurette
		.col-md-7
			h2.featurette-heading
				| Check Out Hotels 
			p.lead
				| Find a comfortable hotel to begin your journey in Korea.
			form.form-forizontal(method = "post",action = "/getHotel")
				a(href='/mainpage/getHotel').btn.btn-primary#checkHotel check
		.col-md-5
			img.featurette-image.img-responsive.center-block(src='/bootstrap/pics/hotel2.jpg', alt='Generic placeholder image')

	hr.featurette-divider
	.row.featurette
		.col-md-7.col-md-push-5
			h2.featurette-heading
				| Oh Yeah, Restaurants in Korean!
			p.lead
				| Grills, Barbeque, Kimchi. 
			a(href='/mainpage/getRestaurant').btn.btn-primary#search  check
		.col-md-5.col-md-pull-7
			img.featurette-image.img-responsive.center-block(src='/bootstrap/pics/bbq.jpg', alt='Generic placeholder image')
	hr.featurette-divider
	.row.featurette
		.col-md-7
			h2.featurette-heading
				| Have Some Fun Here!
			p.lead
				| Night Clubs, Billiards, Bowling
			a(href='/mainpage/getEntertain').btn.btn-primary#search  check
		.col-md-5
			img.featurette-image.img-responsive.center-block(src='/bootstrap/pics/club.jpg', alt='Generic placeholder image')
	hr.featurette-divider
	.row.featurette
		.col-md-7.col-md-push-5
			h2.featurette-heading
				| Amazing Places!
			p.lead
				| Looking for some Attractions?
			a(href='/mainpage/getAttraction').btn.btn-primary#search  check
		.col-md-5.col-md-pull-7
			img.featurette-image.img-responsive.center-block(src='/bootstrap/pics/attraction.jpg', alt='Generic placeholder image')
	hr.featurette-divider