extends layout

block content
	br
	h1 Hello #{Name}
	br
	h1 Korean Guide
	form.form-forizontal(method = "post",action="/mainpage/searchRest")
		div.control-group
			label.control-label(for = "search") Hungury? Search some food!
			div.controls
				input.input-xlarge#search(type = "text", name = "search")
			div.form-actions
				button.btn.btn-primary#searchbtn Search Now
	br
	br
	br
	hr.featurette-divider
	.row.featurette
		.col-md-7
			h2.featurette-heading
				| Check Hotels 
			p.lead
				| Find a comfortable hotel to begin your journey in Korea.
			form.form-forizontal(method = "post",action = "/getHotel")
				a(href='/mainpage/getHotel').btn.btn-primary#checkHotel check
		.col-md-5
			img.featurette-image.img-responsive.center-block(src='/bootstrap/pics/hotel2.jpg', alt='Generic placeholder image')

	hr.featurette-divider
	.row.featurette
		.col-md-7.col-md-push-5
			h2.featurette-heading
				| Oh yeah, Korean food. 
			p.lead
				| Roasting beef, pork, chicken, kimchi. 
			a(href='/mainpage/getRestaurant').btn.btn-primary#search  check
		.col-md-5.col-md-pull-7
			img.featurette-image.img-responsive.center-block(src='/bootstrap/pics/bbq.jpg', alt='Generic placeholder image')
	hr.featurette-divider
	.row.featurette
		.col-md-7
			h2.featurette-heading
				| And lastly, Entertain. 
			p.lead
				| Night clubs, pubs, alcohol
			a(href='/mainpage/getEntertain').btn.btn-primary#search  check
		.col-md-5
			img.featurette-image.img-responsive.center-block(src='/bootstrap/pics/club.jpg', alt='Generic placeholder image')
	hr.featurette-divider