extends layout

block content
	br
	fieldset
		legend User Signup
		form.form-forizontal(method = "post",action="/reg")
			div.control-group
				label.control-label(for = "usermail") Username
				div.controls
					input.input-xlarge#usermail(type='email', name = "usermail", placeholder='Email address', required='', autofocus='')
			div.control-group
				label.control-label(for = "password") Password
				div.controls
					input.input-xlarge#password(type = "password", name = "password",required='')
			br
			div.form-actions
				button.btn.btn-primary#regbtn Register
		br
		form
			button.btn.btn-primary(onclick = 'history.go(-1);return true;')#back Back
//		p.alert You don't have the authorization to view this page