extends layout

block content
	br
	fieldset
		legend User Signup
		form.form-forizontal(method = "post",action="/reg")
			div.control-group
				label.control-label(for = "usermail") Username
				div.controls
					input.input-xlarge#usermail(type='email', name = "usermail", placeholder='Email address', required='', autofocus='')
			div.control-group
				label.control-label(for = "password") Password
				div.controls
					input.input-xlarge#password(type = "password", name = "password",required='')
			div.form-actions
				button.btn.btn-primary#regbtn Register
		a(href = "/")
			button.btn.btn-primary#back Back

//		p.alert You don't have the authorization to view this page