extends layout
block content
  table.table.table-striped
    thead
    - for (var i = 0; i < columns.length; ++i) {  
      each val in columns[i]
        th=val
    - }
    tbody
    - for (var i = 0; i < results.length; ++i) {
      each val in results[i]
        td=val
      tr
    - }
  br
  form.form-forizontal(method = "post", action="/mainpage/review")
    br
    fieldset
      legend Make a new Review
      div.control-group
        label.control-label(for='inputPlace') Place Name
        div.controls
          input#inputPlace.input-xlarge(type='text', name = "place", placeholder='Place Name', required='')
      div.control-group
        label.control-label(for='inputContent') What do you Want to say?
        div.controls
          input#inputContent.input-xlarge(type='text', name = "content", placeholder='Content here', required='')
      div.control-group
        label.control-label(for='inputRating') Rating out of 5.0
        div.controls
          input#inputRating.input-xlarge(type='number', step='0.1', name = "rating", placeholder='Out of 5.0', required='')
      div.form-actions
        button.btn.btn-primary#reviewbtn Submit
  form.form-forizontal(method = "post", action="/mainpage/deletereview")
    br
    fieldset
      legend Delete Your Review
      div.control-group
        label.control-label(for='inputDelete') Place Name
        div.controls
          input#inputPlace.input-xlarge(type='text', name = "deletePlace", placeholder='Place Name', required='')
        div.form-actions
          button.btn.btn-primary#deletebtn Delete
  br
  form.form-forizontal(method = "post", action="/mainpage/editreview")
    br
    fieldset
      legend Change Your Review
      div.control-group
        label.control-label(for='inputEdit') Place Name
        div.controls
          input#inputPlace.input-xlarge(type='text', name = "editPlace", placeholder='Place Name', required='')
        label.control-label(for='inputEdit') What did you want to say?
        div.controls
          input#inputPlace.input-xlarge(type='text', name = "editContent", placeholder='Content Here', required='')
        label.control-label(for='inputEdit') Rating out of 5.0
        div.controls
          input#inputPlace.input-xlarge(type='number', step='0.1', name = "editRating", placeholder='Out of 5.0', required='')
        div.form-actions
          button.btn.btn-primary#deletebtn Edit
  br
  form
    button.btn-primary.btn-primary(onclick = 'history.go(-1);return true;')#back Back